*, ::after, ::before {
  box-sizing: border-box;
  
}

body {
  font-family: 'Bruno Ace SC', serif;
  line-height: 1.5;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

/* nav */
nav  {
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 61px;
}

nav li {
  color: #D1D1D1;
  font-size: 16px;
  width: 306px;
}

nav li:last-child {
  width: 196px;
  text-align: right;
}

nav a {
  color: #D1D1D1;
}

nav a:hover {
  text-decoration: none;
  color: #fff;
}

/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 0;
}

header .avatar {
  width: 636px;
  margin-right: 24px;
}

.header-text {
  width: 636px;
  align-items: flex-end;
}

header p {
  font-size: 64px;
  color: #fff;
}

header .name {
  color: #00FFA3;
  text-align: right;
  font-size: 128px;
}

.contact-me {
  width: 185px;
  margin-left: auto;
  display: flex;
  padding: 12px 24px;
  background: #fff;
  border-radius: 32px;
}

.contact-me p {
  font-size: 16px;
  color: #000;
  margin-right: 4px;
}

.contact-me .arrow_outward {
  width: 24px;
}

/* intro */
.intro {
  display: flex;
  justify-content: center;
  background-image: url('/public/background-img.png');
  padding: 160px 0;
}

.intro-block {
  display: flex;
  margin: 0 auto;
}

.intro-left {
  width: 526px;
  margin-right: 24px;
}

.intro-left h2 {
  font-size: 64px;
  color: #fff;
}

.intro-left p {
  font-size: 24px;
  color: #fff;
  margin: 36px 0 32px;
}

.sparkles {
  display: flex;
  width: 128px;
  justify-content: space-between;
}

.intro-right {
  display: flex;
  gap: 24px;
}

/* About me */
.about-me {
  display: flex;
  justify-content: center;
  padding: 160px 0;
}

.about-me-left {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 636px;
  gap: 24px;
  margin: auto 0;
}

.characteristic {
  width: 306px;
  padding: 16px;
  border: 1px solid #E3E3E3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.characteristic h3 {
  color: #15161D;
  font-size: 20px;
}

.characteristic p {
  color: #15161D;
  font-size: 16px;
}

.about-me-right {
  width: 526px;
  margin-left: 150px;
}

.about-me-right h2 {
  font-size: 64px;
  color: #000;
  margin-bottom: 36px;
}

.about-me-right p {
  font-size: 24px;
  color: #15161D;
}

/* Contact information */
.contact-info {
  display: flex;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);;
  align-items: center;
  justify-content: center;
}

.contact-left {
  display: flex;
  margin-right: 113px; 
}

.contact-left h2 {
  font-size: 64px;
  color: #fff;
  margin-right: 13px;
}

.contact-left img {
  width: 100px;
}

.contact-right {
  display: flex;
  justify-content: space-between;
  margin: 96px 0;
  width: 526px;
}

.contact-right img {
  width: 162px;
  border-radius: 40px;
}

/* Project */
.project  {
  width: 1296px;
  padding: 160px 0;
  margin: 0 auto;
}

.project h2 {
  width: 746px;
  font-size: 64px;
  margin-left: auto;
  margin-bottom: 16px;
}

.project-wrapper {
  display: flex;
  gap: 24px;
}

.upper-content {
  display: flex;
  gap: 24px;
  margin-bottom: 28px;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
}

footer {
  background: #000;
  padding: 40px 0;
  text-align: center;
}

footer p {
 font-size: 16px;
 color: #fff; 
}
